<!DOCTYPE html>
<html>
<head>
  <title>Better Meetings</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->

</head>

<body>

<div id="container" class="effect mainnav-out aside-in">

  <!--<header>-->
  <header id="navbar">
    <div id="navbar-container" class="boxed">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <div class="brand-title">
            <span class="brand-text text-white">Better <span class="text-thin">Meetings</span></span>
          </div>
        </a>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-content clearfix">
        <ul class="nav navbar-top-links pull-right">
          <!--<ul class="nav navbar-nav navbar-right">-->
          <% if (req.session.me) { %>

          <li id="dropdown-user" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
								<span class="pull-right">
									<img class="img-circle img-user media-object" src="/images/av4.png" alt="Profile Picture">
								</span>
              <div class="username hidden-xs text-white"><%= req.session.me.name %></div>
            </a>

            <div class="dropdown-menu dropdown-menu-right with-arrow panel-default">
              <!-- Dropdown heading  -->
              <div class="pad-all bord-btm">
                <p class="text-lg text-muted text-thin mar-btm">Willommen <%= req.session.me.name %>!</p>
                <p class="text-muted">Lass uns ein paar Meetings halten</p>
              </div>

              <!-- User dropdown menu -->
              <ul class="head-list">
                <% if (req.session.me.isAdmin) { %>
                <li>
                  <a href="/dashboard">
                    <span class="badge badge-success pull-right"><%= req.session.me.createdMeetings.length %></span>
                    <i class="fa fa-calendar-o fa-fw fa-lg"></i> Meetingserien
                  </a>
                </li>
                <% } %>

                <li>
                  <a href="/dashboard">
                    <span class="badge badge-success pull-right"><%= req.session.me.todos.length %></span>
                    <i class="fa fa-exclamation fa-fw fa-lg"></i> Aufgaben
                  </a>
                </li>
              </ul>

              <!-- Dropdown footer -->
              <div class="pad-all text-right">
                <a href="/logout" class="btn btn-success">
                  <i class="fa fa-sign-out fa-fw"></i> Logout
                </a>
              </div>
            </div>

          </li>

          <% } else { %>
          <li><a href="/login"> Anmelden</a></li>
          <li><a href="/signup">Registrieren</a></li>
          <% } %>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </header>
  <!--</header>-->

  <div class="bb-alert alert alert-info" style="display: none;">
    <span></span>
  </div>

  <%- body %>
  
</div><!-- #container -->
<!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/linker/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit your Gruntfile.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->
<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/browserify/debug.0.1.0.js"></script>
<script src="/js/dependencies/jquery-1.12.0.min.js"></script>
<script src="/js/dependencies/nifty.min.js"></script>
<script src="/js/dependencies/pace.min.js"></script>
<!--SCRIPTS END-->

</body>
</html>
