<div class="boxed">
  <div id="content-container">
    <div id="page-title">
      <h1 class="page-header text-overflow"><%= meetingseries.title %></h1>
    </div>

    <ol class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li class="active">Meetingserie</li>
    </ol>

    <div id="page-content">

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-control">
                <!--Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#meetingseries-information-box-1" aria-expanded="true">Description</a>
                  </li>
                  <li class=""><a data-toggle="tab" href="#meetingseries-information-box-2" aria-expanded="false">General</a>
                  </li>
                </ul>
              </div>
              <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div id="meetingseries-information-box-1" class="tab-pane fade active in">
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="meetingseries-information-descritpion">
                        <%= meetingseries.description === undefined ? 'Please enter a description' : meetingseries.description %>
                      </p>
                    </div>
                  </div>
                </div>
                <div id="meetingseries-information-box-2" class="tab-pane fade">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="pad-ver media">
                            <div class="media-left">
                              <span class="icon-wrap icon-wrap-xs icon-circle bg-success">
                                 <i class="fa fa-user fa-2x"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <p class="h3 text-thin media-heading">Administrators: <%= meetingseries.admins.length %></p>
                              <button class="btn" data-toggle="modal" data-target="#createPersonModal" data-person="admin"><i class="fa fa-plus"></i></button>
                              <button class="btn" data-target="#admins-collapse" data-toggle="collapse" aria-expanded="true"><i class="fa fa-chevron-down"></i></button>
                              <div id="admins-collapse" class="collapse" aria-expanded="true">
                                <ul class="list-group bg-trans">
                                  <% _.each(meetingseries.admins, function (admin) { %>
                                  <li class="list-group-item">
                                    <%= admin.name %>
                                  </li>
                                  <% }) %>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div class="pad-ver media">
                            <div class="media-left">
                              <span class="icon-wrap icon-wrap-xs icon-circle bg-success">
                                <i class="fa fa-user fa-2x"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <p class="h3 text-thin media-heading">Members: <%= meetingseries.members.length %></p>
                              <button class="btn" data-toggle="modal" data-target="#createPersonModal" data-person="member"><i class="fa fa-plus"></i></button>
                              <button class="btn" data-target="#members-collapse" data-toggle="collapse" aria-expanded="true"><i class="fa fa-chevron-down"></i></button>
                              <div id="members-collapse" class="collapse" aria-expanded="true">
                                <ul class="list-group bg-trans">
                                  <% _.each(meetingseries.members, function (member) { %>
                                  <li class="list-group-item">
                                    <%= member.name %>
                                  </li>
                                  <% }) %>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 table-responsive">

                      <table class="table table-striped">
                        <thead></thead>
                        <tbody>
                          <tr>
                            <td>Meetings</td>
                            <td><%= meetingseries.instances.length %></td>
                          </tr>

                          <tr>
                            <td>Timer</td>
                            <td class="meetingseries-information-timer"><%= meetingseries.timer %></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-7">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Meetings</h3>
            </div>
            <div class="panel-body">
              <table class="table table-hover table-vcenter">
                <thead>
                <tr>
                  <th class="min-width">Id</th>
                  <th>Date</th>
                  <th class="text-center">Summary</th>
                </tr>
                </thead>
                <tbody>
                <% i = 1 %>
                <% _.each(meetingseries.instances, function (meeting) { %>
                <tr>
                  <td class="text-center">
                    <span class="icon-wrap icon-wrap-sm icon-circle bg-success"><%= i %></span>
                  </td>
                  <td>
                    <span class="text-muted"><i class="fa fa-clock-o"></i><%= meeting.title %></span>
                  </td>
                  <td class="text-center">
                    <button><i class="fa fa-download"></i></button>
                  </td>
                </tr>
                <% i++ %>
                <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-5">
          <div id="topics-panel">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-control">
                  <button class="btn btn-default" data-toggle="modal" data-target="#createTopicModal"><i class="fa fa-plus"></i></button>
                </div>
                <h3 class="panel-title">Topics</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group bg-trans" id="dragListTopics">
                  <% _.each(meetingseries.topics, function (topic) { %>
                  <li class="list-group-item" data-title="<%= topic.title %>" data-description="<%= topic.description %>">
                    <i class="fa fa-arrows-v"></i><%= topic.title %>
                    <div class="list-item-control text-right">
                      <a class="btn btn-xs btn-danger add-tooltip"><i class="fa fa-times"></i></a>
                      <a class="btn btn-xs btn-default add-tooltip"><i class="fa fa-exclamation-circle"></i></a>
                    </div>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#createMeetingModal">Erstelle
            Meeting
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="createPersonModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">Create new Person</h4>
      </div>
      <div class="modal-body">
        <form class="panel-body form-horizontal form-padding" action="/meetingseries/createPerson" method="post">
          
          <div class="form-group">
            <label class="col-md-3 control-label">Type</label>
            <div class="col-md-9">
              <input id="person-type" type="text" class="form-control" placeholder="type" readonly="">
            </div>
          </div>

          <div class="form-group">
            <label class='col-md-3 control-label'>Name</label>
            <div class='col-md-9'>
              <input type="text" placeholder="Name" class="form-control">
              <small class='help-block'>Choose the topics</small>
            </div>
          </div>

          <div class="form-group">
            <label class='col-md-3 control-label'>Email</label>
            <div class='col-md-9'>
              <input type="text" placeholder="Email" class="form-control">
              <small class='help-block'>Choose the topics</small>
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="createTopicModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">Create new Topic</h4>
      </div>
      <div class="modal-body">
        <form class="panel-body form-horizontal form-padding" action="/meetingseries/createTopic" method="post">
          
          <div class="form-group">
            <input type="text" class="form-control" value="<%= meetingseries.id %>" style="display: none;">
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Title</label>
            <div class="col-md-9">
              <input class="title-input" type="text" class="form-control" placeholder="Title"/>
              <small class="help-block">Please enter the topic title</small>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-9">
              <textarea class="description-textarea" rows="9" class="form-control" placeholder="Description"></textarea>
              <small class="help-block">Please enter the topic description</small>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Subitems</label>
            <div class="col-md-9">
              <input class="title-input" type="text" class="form-control" placeholder="Subitem"/>
              <button class="btn"><i class="fa fa-plus"></i></button>
              <small class="help-block">Please enter the topic title</small>
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="updateTopicModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">Update Topic</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="id-input form-control" value="<%= meetingseries.id %>" style="display: none;">
        <div class="form-group">
          <label class="col-md-3 control-label">Topic title</label>
          <div class="col-md-9">
            <input class="title-input" type="text" class="form-control" placeholder="Title"/>
            <small class="help-block">Please enter a the topic title</small>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Description</label>
          <div class="col-md-9">
            <textarea class="description-textarea" rows="9" class="form-control" placeholder="Description"></textarea>
            <small class="help-block">Please enter a the description</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="updateTopicModalSubmit">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="createMeetingModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">Create Meeting</h4>
      </div>
      <div class="modal-body">
        <form class="panel-body form-horizontal form-padding" action="/meeting/create/<%= meetingseries.id %>" method="post">
          
          <div class="form-group">
            <label class="col-md-3 control-label">Meetingseries</label>
            <div class="col-md-9">
              <input type="text" id="demo-readonly-input" class="form-control" placeholder="<%= meetingseries.title %>" readonly="">
            </div>
          </div>

          <div class="form-group" id="dragListMeetingCreation" name="dragListMeetingCreation">
            <label class='col-md-3 control-label'>Topics</label>
            <div class='col-md-9'>
              <% var i = 0 %>
              <% _.each(meetingseries.topics, function (topics) { %>
              <div class="text-left checkbox">
                <i class="fa fa-arrows-v"></i>
                <label class="form-checkbox form-icon form-text">
                  <%= topics.title %>
                  <input type="checkbox" name="topic<%= i %>">
                </label>
              </div>
              <% i++ %>
              <% }) %>
              <small class='help-block'>Choose the topics</small>
            </div>
          </div>

          <div class="form-group">
            <label class='col-md-3 control-label'>Invitations</label>
            <div class='col-md-9'>
              <% var i = 0 %>
              <% _.each(meetingseries.admins, function (admin) { %>
              <div class="text-left checkbox">
                <label class="form-checkbox form-icon form-text">
                  <%= admin.name %>
                  <input type="checkbox" name="admin<%= i %>">
                </label>
              </div>
              <% i++ %>
              <% }) %>
              <% _.each(meetingseries.members, function (member) { %>
              <div class="text-left checkbox">
                <label class="form-checkbox form-icon form-text">
                  <%= member.name %>
                  <input type="checkbox" name="member<%= i %>">
                </label>
              </div>
              <% i++ %>
              <% }) %>
              <small class='help-block'>Invite persons</small>
            </div>
          </div>

          <div class="form-group">
            <label class='col-md-3 control-label'>Date</label>
            <div class="col-md-9 input-group date">
                <input id="meeting-datepicker" type="text" class="form-control">
                <span class="input-group-addon"><i class="fa fa-clock-o fa-lg"></i></span>
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
