<div class="boxed">
  <div id="content-container">
    <div id="page-title">
      <h1 class="page-header text-overflow"><%= meetingseries.title %></h1>
    </div>

    <ol class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li class="active">Meetingserie</li>
    </ol>

    <div id="page-content">

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-control">
                <!--Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#meetingseries-information-box-1" aria-expanded="true">Description</a>
                  </li>
                  <li class=""><a data-toggle="tab" href="#meetingseries-information-box-2" aria-expanded="false">General</a>
                  </li>
                </ul>
              </div>
              <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div id="meetingseries-information-box-1" class="tab-pane fade active in">
                  <div class="row">
                    <div class="col-xs-12">
                      <p id="<%= meetingseries.id %>" class="meetingseries-information-descritpion">
                        <%= meetingseries.description === undefined ? 'Please enter a description' : meetingseries.description %>
                      </p>
                    </div>
                  </div>
                </div>
                <div id="meetingseries-information-box-2" class="tab-pane fade">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="pad-ver media">
                            <div class="media-left">
                              <span class="icon-wrap icon-wrap-xs icon-circle bg-success">
                                 <i class="fa fa-user fa-2x"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <p class="h3 text-thin media-heading">Administrators: <%= meetingseries.admins.length %></p>
                              <button class="btn" data-toggle="modal" data-target="#createPersonModal" data-person="admin"><i class="fa fa-plus"></i></button>
                              <button class="btn" data-target="#admins-collapse" data-toggle="collapse" aria-expanded="true"><i class="fa fa-chevron-down"></i></button>
                              <div id="admins-collapse" class="collapse" aria-expanded="true">
                                <ul class="list-group bg-trans">
                                  <% _.each(meetingseries.admins, function (admin) { %>
                                  <li class="list-group-item">
                                    <%= admin.name %>
                                  </li>
                                  <% }) %>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div class="pad-ver media">
                            <div class="media-left">
                              <span class="icon-wrap icon-wrap-xs icon-circle bg-success">
                                <i class="fa fa-user fa-2x"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <p class="h3 text-thin media-heading">Members: <%= meetingseries.members.length %></p>
                              <button class="btn" data-toggle="modal" data-target="#createPersonModal" data-person="member"><i class="fa fa-plus"></i></button>
                              <button class="btn" data-target="#members-collapse" data-toggle="collapse" aria-expanded="true"><i class="fa fa-chevron-down"></i></button>
                              <div id="members-collapse" class="collapse" aria-expanded="true">
                                <ul class="list-group bg-trans">
                                  <% _.each(meetingseries.members, function (member) { %>
                                  <li class="list-group-item">
                                    <%= member.name %>
                                  </li>
                                  <% }) %>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 table-responsive">

                      <table class="table table-striped">
                        <thead></thead>
                        <tbody>
                          <tr>
                            <td>Meetings</td>
                            <td><%= meetingseries.instances.length %></td>
                          </tr>

                          <tr>
                            <td>Timer</td>
                            <td id="<%= meetingseries.id %>" class="meetingseries-information-timer"><%= meetingseries.timer %></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-7">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-control">
                <button class="btn btn-default" data-toggle="modal" data-target="#createMeetingModal"><i class="fa fa-plus"></i></button>
              </div>
              <h3 class="panel-title">Meetings</h3>
            </div>
            <div class="panel-body">
              <table class="table table-hover table-vcenter">
                <thead>
                <tr>
                  <th class="min-width">#</th>
                  <th>Date</th>
                  <th class="text-center">Start</th>
                  <th class="text-center">Summary</th>
                </tr>
                </thead>
                <tbody>
                <% i = 1 %>
                <% _.each(meetingseries.instances, function (meeting) { %>
                <tr>
                  <td class="text-center">
                    <span class="icon-wrap icon-wrap-sm icon-circle bg-success"><%= i %></span>
                  </td>
                  <td>
                    <span class="text-muted"><i class="fa fa-clock-o"
                                                style="padding-right: 10px;"></i><%= meeting.scheduledAt %></span>
                  </td>
                  <td class="text-center">
                    <% if(!meeting.done) { %>
                    <button class="start-meeting-button btn btn-primary" data-id="<%= meeting.id %>">Start Meeting</button>
                    <% } %>
                  </td>
                  <td class="text-center">
                    <% if(meeting.done) { %>
                    <button class="download-summary-button" data-id="<%= meeting.id %>"><i class="fa fa-download"></i></button>
                    <% } %>
                  </td>
                </tr>
                <% i++ %>
                <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-5">
          <div id="topics-panel">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-control">
                  <button class="btn btn-default" data-toggle="modal" data-target="#createTopicModal"><i class="fa fa-plus"></i></button>
                </div>
                <h3 class="panel-title">Topics</h3>
              </div>
              <div class="panel-body">
                <div class="panel-group accordion" id="dragListTopics">
                  <% var i = 0; %>
                  <% _.each(meetingseries.topics, function (topic) { %>
                  <div class="panel" data-id="<%= topic.id %>">
                    <div class="panel-heading">
                      <div class="panel-control">
                        <button data-id="<%= topic.id %>" class="delete-button btn btn-xs"><i class="fa fa-times"></i></button>
                      </div>
                      <h4 class="panel-title">
                        <i class="fa fa-arrows-v"></i><a data-parent="dragListTopics" data-toggle="collapse" href="#topic-collapse-<%= i %>" aria-expanded="false" class="collapsed"><%= topic.title %></a>
                      </h4>
                    </div>
                    <div id="topic-collapse-<%= i %>" class="panel-collapse collapse" aria-expanded="false">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <%= topic.description %>
                            <% if(topic.subAgendaItems !== undefined) { %>
                            <ul class="list-group">
                              <% _.each(topic.subAgendaItems, function (subAgendaItem) { %>
                              <li class="list-group-item">
                                <%= subAgendaItem %>
                              </li>
                              <% }) %>
                            </ul>
                            <% } %>
                          </div>
                          <ul class="list-group col-md-6">
                            <% _.each(topic.todos, function(todo) { %>
                            <li class="list-group-item">
                              <%= todo.title %>
                            </li>
                            <% }) %>
                          </ul>
                        </div>
                        <div class="row">
                          <ul class=" list-group col-xs-12">
                            <% _.each(topic.notes, function(note) { %>
                            <li class="list-group-item">
                              <%= note %>
                            </li>
                            <% }) %>
                          </ul>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <form class="form-inline form-padding" action="/topic/<%= topic.id %>/createNote" method="post">
                              <div class="form-group">
                                <input type="text" name="note" class="form-control" placeholder="Add a comment">
                                <button type="submit" class="btn">Post comment</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% i++ %>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="createPersonModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">Create new Person</h4>
      </div>
      <div class="modal-body">
        <form class="panel-body form-horizontal form-padding" action="/meetingseries/createPerson" method="post">

          <div class="form-group">
            <label class="col-md-3 control-label">Type</label>
            <div class="col-md-9">
              <p id="person-type" class="form-control-static">type</p>
            </div>
          </div>

          <div class="form-group">
            <label class='col-md-3 control-label'>Name</label>
            <div class='col-md-9'>
              <input type="text" placeholder="Name" class="form-control">
              <small class='help-block'>Please enter the name</small>
            </div>
          </div>

          <div class="form-group">
            <label class='col-md-3 control-label'>Email</label>
            <div class='col-md-9'>
              <input type="text" placeholder="Email" class="form-control">
              <small class='help-block'>Please enter the email address</small>
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="createTopicModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">Create new Topic</h4>
      </div>
      <div class="modal-body">
        <form class="panel-body form-horizontal form-padding" action="/topic/create" method="post">

          <!-- meetingseries -->

          <div>
            <input type="text" name="meetingseries" class="form-control" value="<%= meetingseries.id %>" style="display: none;">
          </div>

          <!-- title -->

          <div class="form-group">
            <label class="col-md-3 control-label">Title</label>
            <div class="col-md-9">
              <input type="text" name="title" class="form-control" placeholder="Title"/>
              <small class="help-block">Please enter the topic title</small>
            </div>
          </div>

          <!-- description -->

          <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-9">
              <textarea rows="9" name="description" class="form-control" placeholder="Description"></textarea>
              <small class="help-block">Please enter the topic description</small>
            </div>
          </div>

          <!-- subagendaitems -->

          <div class="form-group">
            <label class="col-md-3 control-label">Subitems</label>
            <div class="col-md-9">
              <div class="subitem-container" data-count="0"></div>
              <div class="input-group">
                <input type="text" id="create-subitem-input" class="form-control" placeholder="Subitem"/>
                <small class="help-block">Please enter the topic title</small>
                <span class="input-group-btn">
                  <button type="button" id="create-subitem-button" class="btn"><i class="fa fa-plus"></i></button>
                </span>
              </div>
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="createMeetingModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">Create Meeting</h4>
      </div>
      <div class="modal-body">
        <form class="panel-body form-horizontal form-padding" action="/meeting/create/<%= meetingseries.id %>" method="post">

          <div class="form-group">
            <label class="col-md-3 control-label">Meetingseries</label>
            <div class="col-md-9">
              <p class="form-control-static"><%= meetingseries.title %></p>
            </div>
          </div>

          <div class="form-group" id="dragListMeetingCreation" name="dragListMeetingCreation">
            <label class='col-md-3 control-label'>Topics</label>
            <div class='col-md-9'>
              <% var i = 0 %>
              <% _.each(meetingseries.topics, function (topics) { %>
              <div class="text-left checkbox">
                <i class="fa fa-arrows-v"></i>
                <label class="form-checkbox form-icon form-text">
                  <%= topics.title %>
                  <input type="checkbox" name="topic<%= i %>">
                </label>
              </div>
              <% i++ %>
              <% }) %>
              <small class='help-block'>Choose the topics</small>
            </div>
          </div>

          <div class="form-group">
            <label class='col-md-3 control-label'>Date</label>
            <div class="col-md-9 input-group date" data-provide="datepicker">
              <input id="meeting-datepicker" type="text" name="scheduledAt" class="form-control">
                <span class="input-group-addon"><i class="fa fa-clock-o fa-lg"></i></span>
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
